@font-face {
    font-family: 'Futurama-Bold-Font';
    src:url('Futurama-Bold-Font.ttf.woff') format('woff'),
        url('Futurama-Bold-Font.ttf.svg#Futurama-Bold-Font') format('svg'),
        url('Futurama-Bold-Font.ttf.eot'),
        url('Futurama-Bold-Font.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #5F88B7;
  background: url(img/futurama-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

#logo {
  width: 500px;
  height: 187px;
  background: url(img/ship-large.png) no-repeat center center fixed;
  background-size: 500px 187px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -95px;
  margin-left: -250px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

#play-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
}

#share,
#lyrics {
  margin: 0;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 36px;
  color: #FFF;
  cursor: pointer;
}

#share {
  position: absolute;
  bottom: 0;
  right: 0;
}

#lyrics {
  position: absolute;
  bottom: 0;
  left: 0;
}

.lyrics {
  display: none;
  text-align: center;
  color: #FFF;
}

/* TEXT REPLACEMENT */
.ir {
  border: 0 !important;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  overflow: hidden !important;
}

.ir:before {
  content: "" !important;
  display: block !important;
  width: 0 !important;
  height: 100% !important;
  background: none !important;
}

/*
Yellow: rgba(255, 215, 0, 1)
Red:    rgba(255,0,0,1)
*/

.title h1,
.title p {
  font-family: 'Futurama Title Font';
  font-size: 44px;
  font-style: normal;
  line-height: 0.65;
  white-space: pre;
  overflow: visible;
  padding: 0px;
  color: rgba(255, 215, 0, 1);
  margin: -170px -160px;
}

.title h1 {
  margin: 142px -160px;
}

.title p {
  color: rgba(255,0,0,1);
  margin: -170px -160px;
  -webkit-text-stroke: 7px rgba(255, 0, 0, 1);
  font-size: 34px;
  letter-spacing: 8px;
}

#mute {
  position: absolute;
  background: url(img/Mute_Icon.svg) no-repeat;
  background-size: 64px 64px;
  font-size: 100px;
  bottom: 12px;
  right: 20px;
  width: 64px;
  height: 64px;
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
}

#nav {
  position: fixed;
  bottom: 0;
  left: 0;
  cursor: pointer;
  list-style: none;
  padding-bottom: 24px;
  padding-left: 24px;
}

/* Animation */
.pulsate {
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
}
@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.depress {
  -webkit-animation: depress 1.2s linear infinite;
  animation: depress 1.2s linear infinite;
}
@-webkit-keyframes depress
{
  0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
  50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
  100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}
@keyframes depress
{
  0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
  50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
  100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

button
{
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  margin: 20px auto;
  color: #ccc;
  background-color: #555;
  background: -webkit-linear-gradient(#888, #555);
  background: linear-gradient(#888, #555);
  border: 0 none;
  border-radius: 3px;
  text-shadow: 0 -1px 0 #000;
  box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
  cursor: pointer;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

button:hover, button:focus
{
  -webkit-animation: depress 1.2s linear infinite;
  animation: depress 1.2s linear infinite;
}

button:active
{
  color: #fff;
  text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  -webkit-animation: none;
  animation: none;
}

/* clearfix */
.group:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 325px) {
  #warped {
    position: absolute;
    display: block;
    top: -31%;
    left: 0%;
  }
}

@media screen and (min-width: 480px) and (max-width: 670px) {
  #warped {
    position: absolute;
    display: block;
    top: -70%;
    left: 9%;
  }
}

@media screen and (max-width: 670px) {
  #logo {
    width: 172px;
    height: 172px;
    background: url(img/Planet_Express_Logo.svg) no-repeat center center fixed;
    background-size: 232px 232px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -86px;
    margin-left: -86px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }
}
